ORMT_INFRA_REPO_URL=https://github.com/jemmalmohamed/ormt-infra-stage-local-vps.git
ORMT_API_REPO_URL=https://github.com/jemmalmohamed/ormt-api.git
ORMT_WEB_REPO_URL=https://github.com/jemmalmohamed/ormt-web-v1.git

ORMT_INFRA_DIR=../ormt-infra-stage-local-vps
ORMT_API_DIR=../ormt-api
ORMT_WEB_DIR=../ormt-web-v1

ORMT_LINUX_USER=
ORMT_SKIP_TESTS=false
ORMT_INSTALL_DEV_TOOLS=true
