ORMT_INFRA_REPO_URL=https://github.com/jemmalmohamed/ormt-infra-stage-local-vps.git
ORMT_API_REPO_URL=https://github.com/jemmalmohamed/ormt-api.git
ORMT_WEB_REPO_URL=https://github.com/jemmalmohamed/ormt-web-v1.git

ORMT_INFRA_BRANCH=
ORMT_API_BRANCH=micro-service
ORMT_WEB_BRANCH=micro-service
ORMT_SELECT_GIT_BRANCHES=false

ORMT_SOURCE_MODE=auto
ORMT_WSL_WORKSPACE=
ORMT_INSTALL_DEV_TOOLS=true
ORMT_SKIP_TESTS=false
ORMT_DOCKER_PULL_PARALLEL=4

COMPOSE_PROGRESS=plain
BUILDKIT_PROGRESS=plain
